@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
<address>
    Sofia, BG 1000<br />
</address>
<iframe width="650"
        height="450"
        frameborder="0" style="border: 0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAX4SVFXkwrvgFHK90XLVBekyBhoCh_jw8&q=NDK,Sofia+Bulgaria" allowfullscreen></iframe>
<br />
<br />
<address>
    SoftServe .NET Team Members<br />
    Daniel - +3599999999 <br />
    Ivaylo - +3599999999 <br />
    Iliyan - +3599999999 <br />
    Pavel - +3599999999<br />
    Pavkata - +3599999999<br />
    Vladimir - +P3599999999<br />
</address>
<address>
    <strong>Support:</strong>   <a href="mailto:SoftServeNETTeam@gmail.com">SoftServeNETTeam@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:SoftServeNETTeam@gmail.com">SoftServeNETTeam@gmail.com</a>
</address>