@{
    ViewBag.Title = "Contact Us";
}

<h2>@ViewBag.Title</h2>
<br />

<address>
    49B Bulgaria Blvd, Sofia 1404<br />
</address>

<iframe width="600"
        height="450"
        frameborder="0" style="border: 0"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11735.018787970397!2d23.289985!3d42.6665534!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3cfca4edc2c5d8cc!2ssoftserve!5e0!3m2!1sbg!2sbg!4v1490848008140" allowfullscreen></iframe>
<br />
<br />

<address>
    SoftServe .NET Team Members <br />
    <hr />
    Daniel Nedyalkov <br />
    Iliyan Popov <br />
    Ivaylo Tsvetkov <br />
    Pavel Krastev <br />
    Pavel Penkov <br />
    Vladimir Lukanov <br />
</address>

<address>
    <strong>GitHub:</strong>   <a href="https://github.com/SoftServeNetTeam/StartupBusinessSystem">Startup Business System Repository</a><br />
</address>