@model IEnumerable<StartupBusinessSystem.Models.User>
@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="imghead">
    <h2 class="text-center">Vlado, it's time to put some text here!</h2>
</div>
<br />
<br />