@model IEnumerable<StartupBusinessSystem.Models.User>
@{
    ViewBag.Title = "Home Page";
}

<div class="imghead">
    <h2 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
</div>