body {
    background-color: #e4e2eb;
    background-image: url('../img/background.png');
    color: #515E65;
}

a {
    color: #00B9D9;
}

    a:hover {
        color: #171B65;
    }

.navbar-brand {
    font-size: 20px;
}

.navbar {
    margin-bottom: 0;
    font-size: 18px;
}

    .navbar .container {
        border-bottom: 2px solid #171B65;
    }

.dropdown-menu {
    background-color: rgba(81, 91, 101, 0.9);
}

    .dropdown-menu > li > a {
        color: #00B9D9;
        font-size: 18px;
    }

        .dropdown-menu > li > a:hover {
            background: #00B9D9;
        }

.imghead {
    background: url('../img/index.jpg') no-repeat;
    background-size: cover;
    min-height: 530px;
    background-position: center;
}

    .imghead h2 {
        padding-top: 20px;
        color: white;
    }

.sideicon .fa {
    font-size: 10em;
}

.panel-info {
    border: 2px #171B65 solid;
}

    .panel-info > .panel-heading {
        border: #171B65;
        border-bottom: 1px solid;
        background-color: white;
    }

.panel-title {
    font-size: 25px;
    color: #00B9D9;
}

.description {
    background-color: #00B9D9;
    border-bottom-color: #171B65;
    padding: 12px 50px;
    font-size: 17px;
    color: white;
}

.info {
    color: #515E65;
    font-size: 16px;
}

.prof-info {
    font-size: 20px;
}

.page {
    background-color: #00B9D9;
    border-color: #171B65;
}

.footer {
    position: relative;
    bottom: 0;
    height: 35px;
}