@{
    ViewBag.Title = "Contact";
}

<h3>@ViewBag.Title</h3>

<h4>@ViewBag.Message</h4>

<address>
    Nadezhda 4<br />
    Sofia, 1231<br />
    Bulgaria<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">kronik@abv.bg</a><br />
</address>