@{
    ViewBag.Title = "Employees Database";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p><a href="/CEOs/Index">CEO</a></p>
<p><a href="/DeliveryDirectors/Index">Delivery Directors</a></p>
<p><a href="/ProjectManagers/Index">Project Managers</a></p>
<p><a href="/TeamLeaders/Index">Team Leaders</a></p>
<p><a href="/Seniors/Index">Seniors</a></p>
<p><a href="/Intermediates/Index">Intermediates</a></p>
<p><a href="/Juniors/Index">Juniors</a></p>
<p><a href="/Trainees/Index">Trainees</a></p>
<p><a href="/Projects/Index">Projects</a></p>