<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package Id="Antlr" version="3.5.0.2" targetFramework="net45" />
  <package Id="bootstrap" version="3.3.7" targetFramework="net45" />
  <package Id="EntityFramework" version="6.1.1" targetFramework="net45" />
  <package Id="jQuery" version="3.1.1" targetFramework="net45" />
  <package Id="jQuery.ValIdation" version="1.16.0" targetFramework="net45" />
  <package Id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package Id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package Id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net45" />
  <package Id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package Id="Microsoft.jQuery.Unobtrusive.ValIdation" version="3.2.3" targetFramework="net45" />
  <package Id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package Id="Modernizr" version="2.8.3" targetFramework="net45" />
  <package Id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package Id="Respond" version="1.4.2" targetFramework="net45" />
  <package Id="WebGrease" version="1.6.0" targetFramework="net45" />
</packages>