@{
    ViewBag.Title = "Confirm E-mail";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for confirming your e-mail. Please @Html.ActionLink("click here to Log In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>